<p>
  <label><%= l(:label_sprint_estimated_hours) %></label>
  <%= text_field_tag 'settings[sprint_hours]', settings['sprint_hours'], :size => 3 %> <%= l(:field_hours) %>
</p>

<p>
  <label><%= l(:label_implementer_hours) %></label>
  <%= text_field_tag 'settings[implementer_hours]', settings['implementer_hours'], :size => 3 %> <%= l(:field_hours) %>
</p>

<p>
  <label><%= l(:label_backlog_view_statuses) %></label>
  <%= select_tag 'settings[backlog_view_statuses]', options_for_select(IssueStatus.sorted.collect{|c| [c.name, c.id]}, Setting.plugin_redmine_backlog['backlog_view_statuses'].to_a), :multiple => true, :include_blank => true, :size => 10, :style => "width:150px" %>
</p>

<p>
  <label><%= l(:label_default_version) %></label>
  <%= select_tag 'settings[default_version]', options_for_select(Version.where(:sharing => 'system').collect{|c| [c.name, c.id]}, Setting.plugin_redmine_backlog['default_version']), :style => "width:150px" %>
</p>
