<h3><%= l(:label_add_note) %></h3>
<%= labelled_form_for @issue, :html => {:id => 'issue_form', :multipart => true}, :remote => true do |f| %>
    <%= error_messages_for 'issue', 'time_entry' %>
    <%= render :partial => 'issues/conflict' if @conflict %>
    <div class="box">
    <% if @issue.notes_addable? %>
      <%= f.text_area :notes, :cols => 60, :rows => 10, :class => 'wiki-edit', :no_label => true %>
      <%= call_hook(:view_issues_edit_notes_bottom, { :issue => @issue, :notes => @notes, :form => f }) %>
      <%= wikitoolbar_for :issue_notes %>
    <% end %>
    </div>
    <%= javascript_tag do %>
    var id = <%= @issue.id %>;
    $('#issue_form').on('ajax:success', function() {
      $('#update').hide();
      $('#issue_notes').val('');
      $('#add_note_btn').show();
      $.ajax({
        type: 'GET',
        url: '/backlogs/history',
        dataType: 'script',
        data: { id: id }
      });
    });
    <% end %>
    <%= submit_tag l(:button_add) %>
    <%= link_to l(:button_cancel), {}, :onclick => "$('#update').hide(); $('#add_note_btn').show(); return false;" %>
<% end %>
