<p class="query-totals">
  <span class="total-for-estimated-hours"><span><%=" #{l :field_estimated_hours}: #{l :planned}"%></span> <span class="value"><%= @sprint_hours %></span>, <%= l :sprint %> <span class="value"><%= @estimated_hours %></span> (<span class="value <%= (@sprint_hours - @estimated_hours) < 0 ? 'red' : 'green' %>"><%="#{(@sprint_hours - @estimated_hours).abs}" %></span>)</span>
  <span class="total-for-spent-hours"><span><%=l(:label_spent_time)%>:</span> <span class="value"><%= @spent_hours %></span></span>
</p>
<% if @backlogs && @backlogs.any? %>
<%= form_tag({}) do %>

  <table class="list table" id="sortable">
    <thead><tr>
    <th class="checkbox hide-when-print">
      <%= check_box_tag 'check_all', '', false, :class => 'toggle-selection',
            :title => "#{l(:button_check_all)}/#{l(:button_uncheck_all)}" %>
    </th>
    <% query.inline_columns.each do |column| %>
      <%= content_tag('th', h(column.caption)) %>
    <% end %>
    </tr></thead>
    <tbody>
    <% for backlog in @backlogs %>
    <tr id="issue-<%= backlog.issue.id %>" class="item issue hascontextmenu <%= 'bg_error' if backlog.implementer_hours < 0 %>" data-item-id="<%= backlog.id %>">
      <td class="checkbox hide-when-print"><%= check_box_tag("ids[]", backlog.issue.id, false, :id => nil) %></td>
    <% @query.inline_columns.each do |column| %>
      <td class="<%= column.css_classes %>"><%= column_content(column, backlog.issue) %></td>
    <% end %>
    </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
