<% content_for :header_tags do %>
  <%= javascript_include_tag 'backlog', :plugin => 'redmine_backlog' %>
  <%= stylesheet_link_tag 'backlog.css', :plugin => 'redmine_backlog', :media => 'screen' %>
<% end %>

<% html_title(l(:label_backlog)) %>

<h3>Sprint</h3>

<% if @backlogs.empty? %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
<%= render :partial => 'sprint_list', :locals => {:backlogs => @backlogs, :query => @query} %>
<% end %>

<div class="contextual">
  <% if User.current.allowed_to?(:add_issues, @project, :global => true) && (@project.nil? || Issue.allowed_target_trackers(@project).any?) %>
    <%= link_to l(:label_issue_new), _new_project_issue_path(@project), :class => 'icon icon-add new-issue' %>
  <% end %>
</div>

<h3><%= @query.new_record? ? l(:label_issue_plural) : @query.name %></h3>
<% html_title(@query.new_record? ? l(:label_issue_plural) : @query.name) %>

<%= render partial: 'filters', locals: { project: @project, query: @query } %>

<% content_for :sidebar do %>
<% end %>

<%= error_messages_for 'query' %>
<% if @issues.empty? && @query.valid? %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
<%= render_query_totals(@query) %>
<%= render :partial => 'issues_list', :locals => {:issues => @issues, :query => @query} %>
<span class="pagination"><%= pagination_links_full @issue_pages, @issue_count %></span>
<% end %>

<%= context_menu issues_context_menu_path %>

<%= javascript_tag do %>
  $("tr.issue > td:not(.checkbox)").click(function() {
    var id = $(this).parent()[0].id.slice(6);
    console.info('sidebar issue_id=', id)
    $.ajax({
      type: 'GET',
      url: '/backlogs/' + id,
      dataType: 'script',
    });
  });
<% end %>
