<% content_for :header_tags do %>
  <%= javascript_include_tag 'backlog', :plugin => 'redmine_backlog' %>
  <%= stylesheet_link_tag 'backlog.css', :plugin => 'redmine_backlog', :media => 'screen' %>
<% end %>

<% html_title(l(:label_backlog)) %>

<h3>Sprint</h3>

<% if @backlogs.empty? %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
<%= render :partial => 'sprint_list', :locals => {:backlogs => @backlogs, :query => @query} %>
<% end %>

<div class="contextual">
  <% if User.current.allowed_to?(:add_issues, @project, :global => true) && (@project.nil? || Issue.allowed_target_trackers(@project).any?) %>
    <%= link_to l(:label_issue_new), _new_project_issue_path(@project), :class => 'icon icon-add new-issue' %>
  <% end %>
</div>

<% html_title(@query.new_record? ? l(:label_issue_plural) : @query.name) %>

<%= render_queries_buttons %>

<% content_for :sidebar do %>

<% end %>

<%= error_messages_for 'query' %>
<% if @issues.empty? && @query.valid? %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
<%= render_query_totals(@query) %>
<%= render :partial => 'issues_list', :locals => {:issues => @issues, :query => @query} %>
<span class="pagination"><%= pagination_links_full @issue_pages, @issue_count %></span>
<% end %>

<%= context_menu issues_context_menu_path %>

<%= javascript_tag do %>
$(function() {
  if ($('#sortable').length > 0) {
    $('#sortable').sortable({
      axis: 'y',
      items: '.item',
      cursor: 'move',
      sort: function(e, ui) {
        return ui.item.addClass('active-item-shadow');
      },
      stop: function(e, ui) {
        ui.item.removeClass('active-item-shadow');
        return ui.item.children('td').effect('highlight', {}, 1000);
      },
      update: function(e, ui) {
        var item_id, position;
        item_id = ui.item.data('item-id');
        position = ui.item.index();
        console.log("row_order", item_id, position);
        return $.ajax({
          type: 'PUT',
          url: '/backlogs/update_row_order',
          dataType: 'json',
          data: {
            backlog: {
              backlog_id: item_id,
              row_order: position
            }
          }
        });
      }
    });
  }

  $('tr.issue').on( 'click', function() {
    var id = $(this)[0].id.slice(6);
    console.info('sidebar issue_id=', id)
    $.ajax({
      type: 'GET',
      url: '/backlogs/' + id,
      dataType: 'script',
    });
  });
});
<% end %>
