<div class="contextual">
  <% attrs = { parent_issue_id: @issue }
    attrs[:tracker_id] = @issue.tracker unless @issue.tracker.disabled_core_fields.include?('parent_issue_id') %>
  <%= link_to(l(:button_add_subtask), new_project_issue_path(@issue.project, :issue => attrs), class: 'icon icon-add') %>
  <%= link_to l(:button_edit_issue), edit_issue_path(@issue), :class => 'icon icon-edit' %>
  <%= link_to_function l(:button_close), '#', :class => 'icon close-icon close-sidebar', :onclick => 'closeSidebar()' %>
</div>
<div style="clear: both;"></div>

<h2><%= issue_heading(@issue) %></h2>

<div class="issue">
  <div class="details">
    <%= avatar(@issue.author, :size => "30") %>
    <div class="subject">
    <%= render_issue_subject_with_tree(@issue) %>
    </div>
    <div class="author">
      <%= authoring @issue.created_on, @issue.author %>.
      <% if @issue.created_on != @issue.updated_on %>
      <%= l(:label_updated_time, time_tag(@issue.updated_on)).html_safe %>.
      <% end %>
    </div>
  </div>

  <div class="attributes">
  <%= render :partial => 'attributes', :locals => { :issue => @issue } %>
  </div> <!-- .attributes -->

  <% if @issue.description? || @issue.attachments.any? %>
  <% if @issue.description? %>
  <div class="description">
  <%= render partial: 'description', locals: { issue: @issue } %>
  </div> <!-- .description -->
  <% end %>
  <%= link_to_attachments @issue, :thumbnails => true %>
  <% end %>
</div><!-- .issues -->

<% if @issue.editable? %>
  <div class="contextual">
    <%= link_to l(:add_note), edit_issue_path(@issue), style: 'display:none', id: 'add_note_btn', :onclick => 'showAndScrollTo("update", "issue_notes"); $(this).hide(); return false;', :class => 'icon icon-edit', :accesskey => accesskey(:edit) if @issue.editable? %>
  </div>
  <div style="clear: both;"></div>
  <div id="update">
  <%= render :partial => 'edit' %>
  </div>
<% end %>

<% if @journals.present? %>
<div id="history">
  <fieldset class="collapsible">
  <legend onclick="toggleFieldset(this);"><h3><%=l(:label_history)%></h3></legend>
  <div id="history_content">
    <%= render :partial => 'issues/history', :locals => { :issue => @issue, :journals => @journals } %>
  </div>
</div>
<% end %>
<div style="clear: both;"></div>
